$text-max-height: 350px;
$vote-size: 15px;
$blur: 15px;

.card {
  font-family: cursive, verdana, arial, helvetica, sans-serif;
}

.card__vote {
  width: $vote-size;
  height: $vote-size;
  margin: 0px;
}

.card--scrollable {
  overflow-y: auto;
  max-height: $text-max-height;
}

.card--blur {
  filter: blur($blur);
  -webkit-filter: blur($blur);
}
